@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");


.about{
    width: 100%;
    background-color: transparent;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Saira", sans-serif;
}

.about>:nth-child(1){
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.about>:nth-child(2){
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about1-inner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-content2{
    background-color: white;
    width: 100%;
    height: 30%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-right shadow */ -1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-left shadow */ 1px -1px 10px rgba(103, 102, 102, 0.055),
    /* Top-right shadow */ -1px -1px 10px rgba(103, 102, 102, 0.055);
  /* Top-left shadow */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .about-content2::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 23%;
    background-color: #75dab4;
    z-index: -1;
    border-radius: 23px;
} */

.about-content h6,h4,h4,p{
    padding: 2px;
}

.h41{
    font-weight: 700;
    font-size: 40px;
}
.h42{
    font-weight: 500;
    font-size: 32px;
}

.about-content h6{
    font-size: 19px;
    font-weight: 600;
    position: relative;
    color: #75dab4;
}

.about-content p{
    font-size: 17px;
}

.about-content h6::before{
    content: "";
    width: 108px;
    background-color: #75dab4;
    position: absolute;
    height: 2px;
    top: 100%;
}

.about-content2>:nth-child(1){
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
}

.about-content2>:nth-child(2){
    width: 85%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.about2-inner{
    width: 90%;
    height: 90%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about2-inner1{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.about2-inner2{
    width: 100%;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-right shadow */ -1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-left shadow */ 1px -1px 10px rgba(103, 102, 102, 0.055),
    /* Top-right shadow */ -1px -1px 10px rgba(103, 102, 102, 0.055);
  /* Top-left shadow */
  /* position: relative; */
}

.about2-inner1 h6{
    font-size: 19px;
    font-weight: 600;
    position: relative;
    color: #75dab4;
}

.about2-inner1 h6::before{
    content: "";
    width: 68px;
    background-color: #75dab4;
    position: absolute;
    height: 2px;
    top: 100%;
}

.about2-inner2 .skills-images{
    width: 100%;
    height: 33.33%;
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills-scroll{
    background-color: white;
    width: 87%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.we-use-inner{
    /* background-color: blue; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.we-use-inner h5{
    font-size: 19px;
    font-weight: 600;
    position: relative;
    color: #75dab4;
}

.we-use-inner h5::before{
    content: "";
    width: 68px;
    background-color: #75dab4;
    position: absolute;
    height: 2px;
    top: 100%;
}


/* responsiveness od about */

@media screen and (max-width:999px) {
    .about>:nth-child(2){
        display: none;
    }
    .about>:nth-child(1){
        width: 100%;
    }
    .we-use-inner{
        display: flex;
    }
}