.aftersection h2{
    color: white;
    text-align: center;
    padding: 50px 0px 20px 0px;
    font-family: "Martel Sans", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    align-items: center;
}
.faqs{
    color: white;
    background-color: rgb(44, 40, 40);
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    /* max-width: 73vw; */
    margin: auto;
    padding: 5px 10px;
    /* margin-bottom: 10px; */
    font-size: 14px;
    cursor: pointer;
    width: 60%;
    align-items: center;
}
/* .aftersection div:hover{
    background-color: rgb(65, 61, 61);
    transition: background-color 0.3s ease, transform 0.5s ease;
} */


.aftersection{
    background-color: rgb(25, 26, 28);
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer-faqs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.faqa1{
    width: 60%;
    /* background-color: yellow; */
    overflow: hidden;
    display: none;
    color: white;
}

.answershow {
    display: flex;
    animation-name: faqsanimi;
    animation-duration: 0.5s; /* Corrected from animation-timing-function to animation-duration */
    animation-timing-function: ease;
}

@keyframes faqsanimi {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.svg1{
    rotate: 45deg;
}

.faqs svg{
    padding: 6px 3px;
}