.portfolio{
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-inner1{
    width: 90%;
    /* height: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: red; */
}

.heading{
    width: 100%;
    height: 10%;
    font-family: "Saira", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-weight: 700;
}


.buttons{
    width: 100%;
    height: 10%;
    /* background-color: rgb(33, 33, 167); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons-inner{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: blue; */
    padding : 15px 150px;
    flex-wrap: wrap;
}

.buttons-inner button{
    background-color: transparent;
    padding: 2px 17px;
    border-radius: 10px;
    border: none;
    font-family: "Saira", sans-serif;
    transition: 0.2s ease;
    margin: 0px 10px;
}

.buttons-inner button:hover{
    background-color: rgb(25, 26, 28);
    color: white;
}

.works{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
    gap: 19px;
    width: 95%;
    transition: 0.3s ease;
}

.work-inner1{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* background-color: yellow; */
    flex-wrap: wrap;

}
.work-inner2{
    width: 80%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* background-color: yellow; */
    flex-wrap: wrap;

}
.work-inner3{
    width: 80%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: yellow; */
    
}

.project-details{
    width: 260px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Saira", sans-serif;
    border-radius: 4px;
    padding: 5px 15px;
    box-shadow: 1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-right shadow */ -1px 1px 10px rgba(103, 102, 102, 0.055),
    /* Bottom-left shadow */ 1px -1px 10px rgba(103, 102, 102, 0.055),
    /* Top-right shadow */ -1px -1px 10px rgba(103, 102, 102, 0.055);
  /* Top-left shadow */
  /* position: relative; */
  font-size: 12px;
}

@media screen and (max-width:400px) {
    .works{
        width: 91%;
    }
}
